.mainBack {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50px 1fr;
    grid-template-areas:'a nm';
    grid-auto-rows: auto;
    background-color: black;
    width: 350px;
    align-items: flex-end;
    padding: 5px;


}

.nameMessageTime {
    display: grid;
    grid-template-areas:
            'n'
            'm'
            't';

    margin: 4px;
    padding: 10px;
    border-radius: 20px;
    grid-area: nm;
    border: 3px solid whitesmoke;
    background-color: grey;
    opacity: 0.7;


}

.avatar img {
    display: grid;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid whitesmoke;



}

.time {
    text-align: right;
    grid-area: t;
    font-family: -apple-system;
    color: blue;
    font-size: 15px;

}

.name {
    grid-area: n;
    font-size: 25px;
    color: blue;
    font-family: "American Typewriter";
}

.message {
    grid-area: m;
    color: white;
    word-wrap: break-word;
}
