.backLinks {
    height: 40px;
    background: green;
    position: center;

}

.navLinksPreJun {
    color: black;
    margin: 3px;
    padding: 3px;
    display: inline-block;
    background: whitesmoke;

}

.navLinksJun {
    color: black;
    margin: 3px;
    padding: 3px;
    display: inline-block;
    background: yellow;

}

.navLinksJunPlus {
    color: whitesmoke;
    margin: 3px;
    padding: 3px;
    display: inline-block;
    background: chartreuse;


}
.isActive {
    color: blueviolet;
}
.notActive {
    color: black;
}